:root{
	/* Font size */
	--size-1: 16px;
	--size-2: 20px;
	--size-3: 24px;
	--size-4: 32px;
	--size-5: 48px;
	--size-6: 64px;
	--size-7: 80px;
	--size-8: 96px;
	--size-9: 112px;
	--size-10: 144px;

	/* Main colors */
	--black: #000000;
	--white: #ffffff;
	--navy: #0b022e;
	--blue: #81adf9;
	--green: #0cb352;
	--yellow: #ffd230;
	--red: #e60c2d;
	--pink: #ff3895;

	/* Fonts */

	--font-1: "bitcount-prop-single-square", sans-serif;
	--font-2: "paradroid-mono-soft", sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--navy);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overscroll-behavior: none;
}

h1{
	font-family: var(--font-1);
	font-size: var(--size-6);
	font-weight: 500;
	color: var(--red);
	line-height: var(--size-6);
	text-align: center;
	text-wrap: pretty;
}

h2{
	font-family: var(--font-1);
	font-size: var(--size-4);
	font-weight: 500;
	color: var(--pink);
	line-height: var(--size-4);
	text-align: center;
	text-wrap: pretty;
}

p{
	font-family: var(--font-2);
	font-weight: 400;
	text-wrap: pretty;
}

#header{
	margin-top: var(--size-1);
	padding: var(--size-2);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	h2{
		padding-top: var(--size-1);
	}
}

#main-content{
	font-size: var(--size-2);
	line-height: var(--size-3);
	color: var(--white);
	padding: var(--size-2);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	text-align: left;
	gap: var(--size-1);
}

#instructions{
	font-size: var(--size-3);
	line-height: calc(1.5*var(--size-2));
	color: var(--pink);
	margin-top: var(--size-7);
	text-align: center;
}

#start{
	display: flex;
	justify-content: center;
	align-items: center;
}

.start-button{
	font-family: var(--font-1);
	font-size: var(--size-3);
	font-weight: 600;
	color: var(--navy);
	background-color: var(--yellow);
	border-radius: 100rem;
	min-height: var(--size-5);
	width: 300px;
	padding: var(--size-1);
	text-align: center;
}

dialog#game {
	font-family: var(--font-2);
	background-color: var(--navy);
	padding: var(--size-2);
	margin: 0;
	width: 95%;
	max-width: 500px;
	max-height: 90vh;
	overflow-y: auto;
	border: 2px solid;
	border-color: var(--white);
	border-radius: var(--size-1);
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: var(--size-1);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

dialog#game[open] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: var(--size-1);
}

#modal-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#progress-count {
	font-family: var(--font-1);
	font-size: var(--size-3);
	font-weight: 600;
	color: var(--pink);
}

.close-button {
	font-family: var(--font-1);
	font-size: var(--size-3);
	font-weight: 600;
	color: var(--pink);
	min-height: var(--size-5);
	background: none;
	border: none;
	cursor: pointer;
}

#progress-bar-container {
	width: 100%;
	height: 10px;
	background-color: var(--white);
	border-radius: 20px;
	overflow: hidden;
}

#progress-bar {
	width: 0%;
	height: 100%;
	background-color: var(--blue);
	transition: width 0.4s ease-in-out;
}

#question{
	font-family: var(--font-1);
	font-size: var(--size-3);
	font-weight: 600;
	color: var(--blue);
	text-align: center;
	padding: var(--size-1);
	text-wrap: pretty;
	overflow-wrap: break-word;
}

#options{
	display: flex;
	flex-direction: column;
	gap: var(--size-2);
	width: 100%;
}

#options button{
	font-size: var(--size-1);
	color: var(--white);
	min-height: var(--size-5);
	padding: var(--size-1);
	width: 100%;
	border: 2px solid var(--white);
	border-radius: 10px;
	cursor: pointer;
}

button.option-correct {
	color: var(--white);
	background-color: var(--green);
}

button.option-incorrect {
	color: var(--white);
	background-color: var(--red);
}

.end-screen{
	p{
		font-family: var(--font-2);
		color: var(--white);
	}
}
.restart-button {
	font-family: var(--font-1);
	font-size: var(--size-3);
	font-weight: 600;
	color: var(--navy);
	background-color: var(--yellow);
	border-radius: 100rem;
	min-height: var(--size-5);
	width: 300px;
	padding: var(--size-1);
	text-align: center;
	cursor: pointer;
}

#footer{
	background-color: var(--blue);
	padding: var(--size-1);
	margin-top: auto;
	overflow: hidden;
	h1{
		color: var(--navy);
		font-size: var(--size-1);
		line-height: var(--size-3);
	}
}

@media (max-width: 768px){

}

@media (max-width: 1024px){

	.start-button:hover{
		background-color: var(--yellow);
		transition: 500ms ease-in-out;
	}

	.close-button:hover {
		color: var(--red);
		transition: color 0.3s ease;
	}

	#options button:hover{
		background-color: var(--white);
	}

}

@media (max-width: 1440px){

}