:root{
	/* Font size */
	--size-1: 16px;
	--size-2: 20px;
	--size-3: 24px;
	--size-4: 32px;
	--size-5: 48px;
	--size-6: 64px;
	--size-7: 80px;
	--size-8: 96px;
	--size-9: 112px;
	--size-10: 144px;

	/* Main colors */
	--black: #000000;
	--white: #ffffff;
	--navy: #100638;
	--blue: #8eb7ff;
	--green: #0cb352;
	--yellow: #ffc800;
	--red: #e60c2d;
	--pink: #ff3895;

	/* Fonts */

	--font-1: "bitcount-prop-single-square", sans-serif;
	--font-2: "ivymode", sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--navy);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overscroll-behavior: none;
}

h1{
	font-family: var(--font-1);
	font-size: var(--size-5);
	font-weight: 500;
	color: var(--red);
	line-height: var(--size-5);
	text-align: center;
}

h2{
	font-family: var(--font-1);
	font-size: var(--size-4);
	font-weight: 200;
	color: var(--pink);
	line-height: var(--size-4);
	text-align: center;
}

h3{
	font-family: var(--font-2);
	font-size: var(--size-1);
	color: var(--green);
	line-height: var(--size-2);
	font-weight: 200;
	text-align: center;
}

p{
	font-family: var(--font-2);
	font-size: var(--size-1);
	color: var(--white);
	line-height: var(--size-2);
	letter-spacing: 1.5px;
	font-weight: 200;
	text-align: left;
}

#header{
	margin-top: var(--size-1);
	padding: var(--size-2);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	h2{
		padding-top: var(--size-1);
	}
}

#main-content{
	padding: var(--size-2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	gap: var(--size-2);
}

#instructions{
	p{
		text-align: center;
		padding-top: var(--size-1);
		padding-left: var(--size-1);
		padding-right: var(--size-1);
	}
}

#start{
	padding: var(--size-2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.start-button{
	font-family: var(--font-1);
	font-size: var(--size-3);
	font-weight: 500;
	color: var(--navy);
	background-color: var(--green);
	border-radius: 100rem;
	min-height: var(--size-5);
	width: 300px;
	padding: var(--size-1);
	text-align: center;
}

.start-button:active{
	transform: scale(.95);
	opacity: .75;
}

dialog#game {
	font-family: var(--font-2);
	color: var(--navy);
	background-color: var(--white);
	padding: var(--size-2);
	margin-top: var(--size-2);
	margin-bottom: var(--size-5);
	width: 95%;
	max-width: 500px;
	max-height: 90vh;
	overflow-y: auto;
	border: none;
	border-radius: var(--size-1);
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: var(--size-1);
	position: relative;
	transition: opacity .5s ease;
}

dialog#game[open] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: var(--size-1);
}

.close-button {
	font-family: var(--font-1);
	font-size: var(--size-3);
	font-weight: 600;
	color: var(--navy);
	min-height: var(--size-5);
	position: absolute;
	top: var(--size-1);
	right: var(--size-1);
	background: none;
	border: none;
	cursor: pointer;
}

.close-button:active{
	transform: scale(.95);
	opacity: .75;
}

#question{
	font-size: var(--size-2);
	font-weight: 600;
	color: var(--navy);
	text-align: center;
	padding: var(--size-1);
}

#options{
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
	width: 100%;
}

#options button{
	font-size: var(--size-1);
	letter-spacing: 1.5px;
	color: var(--navy);
	background-color: var(--blue);
	min-height: var(--size-5);
	padding: var(--size-1);
	width: 100%;
	border: 2px solid var(--navy);
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .3s ease;
}

#options button:active{
	transform: scale(.5);
	opacity: .75;
}

#footer{
	background-color: var(--pink);
	padding: var(--size-1);
	margin-top: auto;
	overflow: hidden;
	h1{
		color: var(--navy);
		font-size: var(--size-1);
		line-height: var(--size-3);
	}
}

@media (max-width: 768px){

}

@media (max-width: 1024px){

	.start-button:hover{
		background-color: var(--yellow);
		transition: 500ms ease-in-out;
	}

	.close-button:hover {
		color: var(--red);
		transition: color 0.3s ease;
	}

	#options button:hover{
		background-color: var(--white);
	}

}

@media (max-width: 1440px){

}